<!doctype html>

<html>
  <head>
    <title>paper-buttons-group test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../paper-buttons-group.html">
  </head>
  <body>

    <test-fixture id="basic">
      <template>
        <paper-buttons-group></paper-buttons-group>
      </template>
    </test-fixture>

    <script>
      suite('paper-buttons-group', function() {

        test('instantiating the element works', function() {
          var element = fixture('basic');
          assert.equal(element.is, 'paper-buttons-group');
        });

      });
    </script>
  </body>
</html>
